.form {
  margin: 0 auto;
  width: 300px;
  padding: 2rem;
}

.title {
  color: white;
}
.form__inputs {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 1rem;
  gap: 0.5rem;
  & > label {
    font-weight: bold;
    color: white;
  }
  & > input {
    padding: 5px;
    font-size: 1.2rem;
    width: 150px;
    border-radius: 5px;
  }
}
.form__buttons {
  display: flex;
  margin: auto;
  gap: 20px;
  padding: 0 30px;
}
