.editionBar__container {
  position: relative;
}

.editionBar__title {
  color: white;
  padding-top: 20px;
}
.editionBar__button {
  margin: 40px auto;
  width: 108px;
  height: 38px;
  cursor: pointer;
}
